Repository Chirag4904/timetable, pull requests merged in 2022-11, with the labels that each got.

#15 alloted teachers for the sub are returned when calling the sub api
  server/src/models/subjects.model.js
Labels: api / backend

#17 Ui improved and frontend structure changed
  client/svelte-timetable/package-lock.json
  client/svelte-timetable/package.json
  client/svelte-timetable/src/App.svelte
  client/svelte-timetable/src/app.css
  client/svelte-timetable/src/assets/bg.webp
  client/svelte-timetable/src/assets/tt-logo.svg
  client/svelte-timetable/src/components/Navbar.svelte
  client/svelte-timetable/src/components/Subject Components/Subject.svelte
  client/svelte-timetable/src/components/Subject Components/SubjectInfo.svelte
  client/svelte-timetable/src/components/Subject Components/SubjectPref.svelte
  client/svelte-timetable/src/components/Subject Components/SubjectScreen.svelte
  client/svelte-timetable/src/components/Teacher Components/EditTeacher.svelte
  client/svelte-timetable/src/components/Teacher Components/Teacher.svelte
  client/svelte-timetable/src/components/Teacher Components/TeacherScreen.svelte
Labels: enhancement, ui / frontend

#23 Form component built fix#21
  client/svelte-timetable/src/components/form.svelte
Labels: enhancement, ui / frontend

#30 Save teacher on post Fix #29
  server/src/app.js
  server/src/models/subjects.model.js
  server/src/models/teachers.model.js
  server/src/routes/subjects/subjects.router.js
  server/src/routes/teachers/teachers.controller.js
  server/src/routes/teachers/teachers.router.js
  server/src/server.js
Labels: enhancement, api / backend, database

#32 Convert excel data to json Fix #24
  server/src/utilities/excel_to_json.ipynb
Labels: database

#38 ui improved and state change added to FE #37
  client/svelte-timetable/src/components/Subject Components/Subject.svelte
  client/svelte-timetable/src/components/Subject Components/SubjectPref.svelte
  client/svelte-timetable/src/components/Subject Components/SubjectScreen.svelte
  client/svelte-timetable/src/components/Teacher Components/EditTeacher.svelte
  server/src/routes/subjects/subjects.controller.js
  server/src/routes/subjects/subjects.router.js
Labels: enhancement, api / backend, ui / frontend, code clean

#40 flex wrap added and code clean Fix #39
  client/svelte-timetable/src/components/Teacher Components/TeacherScreen.svelte
Labels: ui / frontend, code clean

#42 teachers and subjects schema changed #41
  server/.gitignore
  server/src/models/subjects.model.js
  server/src/models/subjects.mongo.js
  server/src/models/teachers.model.js
  server/src/models/teachers.mongo.js
Labels: api / backend, database

#20 `/teachers`: alloted subjects are returned in the teachers list
  server/src/models/teachers.model.js
  server/src/routes/subjects/subjects.controller.js
  server/src/routes/teachers/teachers.controller.js
  server/src/utils.js
Labels: api / backend

#45 utils file added to utilities folder Fix #44
  server/src/routes/subjects/subjects.controller.js
  server/src/routes/teachers/teachers.controller.js
  server/src/utilities/utils.js
Labels: project structure

#47 script added for installing dep Fix #46
  client/svelte-timetable/package-lock.json
  client/svelte-timetable/package.json
  package.json
  server/package-lock.json
  server/package.json
Labels: enhancement

#49 removed unnecessary comments
  server/src/app.js
Labels: code clean

#31 editorconfig file, to maintain consistent formatting
  .editorconfig
Labels: enhancement

#51 Allotted subjects visible on visiting teacher Fix #50
  client/svelte-timetable/src/App.svelte
  client/svelte-timetable/src/components/Teacher Components/Teacher.svelte
  client/svelte-timetable/src/components/Teacher Components/TeacherScreen.svelte
  client/svelte-timetable/src/components/Teacher Components/TeacherSubjectsInfo.svelte
Labels: enhancement, ui / frontend

#60 Subject/teacher div clickable now Fix #59
  client/svelte-timetable/src/components/Navbar.svelte
Labels: bug, ui / frontend

#64 Able to install all dep at once Fix #46
  client/svelte-timetable/package-lock.json
  package.json
  server/package-lock.json
Labels: enhancement

#66 Create project.yml
  .github/workflows/project.yml
Labels: enhancement

#71 server will now run for everybody Fix #70
  server/src/models/subjects.model.js
  server/src/models/teachers.model.js
Labels: bug, code clean

#83 support for query parameter + handle error
  server/src/routes/subjects/subjects.controller.js
  server/src/routes/teachers/teachers.controller.js
  server/src/utilities/utils.js
Labels: api/backend

#86 Issue/#85
  client/svelte-timetable/src/assets/stick.png
  client/svelte-timetable/src/assets/stick1.png
  client/svelte-timetable/src/assets/stick2.jpg
  client/svelte-timetable/src/components/Subject Components/Subject.svelte
  client/svelte-timetable/src/components/Subject Components/SubjectScreen.svelte
Labels: ui / frontend

#87 Dynamic subject name and truncate Fix #85
  client/svelte-timetable/src/components/Subject Components/Subject.svelte
  client/svelte-timetable/src/components/Subject Components/SubjectScreen.svelte
Labels: ui / frontend

#90 bug fix and Add teacher support #88, #89
  client/svelte-timetable/src/components/Subject Components/SubjectInfo.svelte
  client/svelte-timetable/src/components/Subject Components/SubjectPref.svelte
  client/svelte-timetable/src/components/Subject Components/SubjectScreen.svelte
  client/svelte-timetable/src/components/Teacher Components/AddTeacher.svelte
  package-lock.json
  package.json
  server/src/models/subjects.model.js
  server/src/models/subjects.mongo.js
  server/src/routes/subjects/subjects.controller.js
  server/src/routes/subjects/subjects.router.js
Labels: api / backend, ui / frontend, database

#95 bugfix
  client/svelte-timetable/src/components/Subject Components/SubjectInfo.svelte
  client/svelte-timetable/src/components/Teacher Components/AddTeacher.svelte
Labels: bug, ui / frontend

#100 Issue/#99
  server/.gitignore
  server/migrations/1668881933291-add-subject-remaininghours.js
  server/package-lock.json
  server/package.json
  server/src/models/subjects.mongo.js
  server/src/server.js
  server/src/services/migrate-cli-mongodb-store.js
  server/src/services/mongo.js
  server/src/services/monogdb-migrations.js
  server/template/migration-template.js
Labels: api / backend, database

#104 made values dynamic in dropdown
  client/svelte-timetable/src/components/Subject Components/SubjectInfo.svelte
  client/svelte-timetable/src/components/Subject Components/SubjectPref.svelte
  client/svelte-timetable/src/components/Teacher Components/DropDown.svelte
  client/svelte-timetable/src/components/Teacher Components/EditTeacher.svelte
  client/svelte-timetable/src/components/Teacher Components/TeacherSubjectsInfo.svelte
Labels: ui / frontend

#103 add logging to backend
  server/.gitignore
  server/migrations/1668881933291-add-subject-remaininghours.js
  server/migrations/1668891822509-add-timestamps-allotment.js
  server/package-lock.json
  server/package.json
  server/src/app.js
  server/src/models/allotment.mongo.js
  server/src/models/subjects.model.js
  server/src/models/subjects.mongo.js
  server/src/routes/subjects/subjects.controller.js
  server/src/server.js
  server/src/services/migrate-cli-mongodb-store.js
  server/src/services/mongo.js
  server/src/services/monogdb-migrations.js
  server/template/migration-template.js
Labels: api / backend, database

#110 New features added #107
  client/svelte-timetable/package-lock.json
  client/svelte-timetable/src/components/Subject Components/SubjectInfo.svelte
  client/svelte-timetable/src/components/Subject Components/SubjectPref.svelte
  client/svelte-timetable/src/components/Teacher Components/DropDown.svelte
  client/svelte-timetable/src/components/Teacher Components/EditTeacher.svelte
  server/package-lock.json
Labels: enhancement, ui / frontend

#112 alert teacher bugfix
  client/svelte-timetable/src/components/Teacher Components/EditTeacher.svelte
  package-lock.json
  package.json
Labels: ui / frontend

#118 total hours visible Fix #117
  client/svelte-timetable/src/components/Subject Components/SubjectInfo.svelte
  docker-compose.yml
Labels: ui / frontend
